.pictogram-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("src/assets/backgrounds/list.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  font-family: 'Satisfy', cursive;
}

.heading {
  font-size: 5vh;
  color: #EAF2E3;
  -webkit-text-stroke: 1.5px black;
  height: 5%;
}

.filter {
  height: fit-content;
  height: 5%;
}

.filter span {
  font-size: 2.25vh;
}

.pictogram-table-container {
  width: 90%;
  height: 90%;
  overflow-y: auto;
}

/* Oculta la barra de desplazamiento */
.pictogram-table-container::-webkit-scrollbar {
  width: 0.4em;
}

/* Estilo de la barra de desplazamiento */
.pictogram-table-container::-webkit-scrollbar-track {
  background: transparent;
}

.pictogram-table-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.pictogram-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.pictogram-table th,
.pictogram-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.pictogram-table th {
  background-color: #66D7D1;
  font-size: 2.25vh;
  -webkit-text-stroke: 0.75px black;
}

.edit-button {
  width: 30%;
  margin: 10px;
  padding: 10px;
  background-color: #FF637D;
  font-family: 'Satisfy', cursive;
  color: #EAF2E3;
  border: none;
  border-radius: 5px;
  font-size: 2vh;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #66D7D1;
  color: #000;
}