.pictogram-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("src/assets/backgrounds/list.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    font-family: 'Satisfy', cursive;
  }
  
  .form-section {
    width: 70%;
    height: 70%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    justify-content: center;
  }

  .form-heading{
    font-size: 50px;
    color: #FF637D;
    -webkit-text-stroke: 1px black;
  }
  
  .form-image {
    display: flex;
    align-items: center;
    text-align: center;
    height: fit-content;
  }
  
  .form-image img {
    width: 60%;
    height: 60%;
    object-fit: cover;
    border: none;
  }
  
  .input-field {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .create-button {
    width: 40%;
    margin: 10px;
    padding: 10px;
    background-color: #FF637D;
    font-family: 'Satisfy', cursive;
    color: #EAF2E3;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .create-button:hover {
    background-color: #66D7D1;
  }
  
  .cancel-button {
    width: 40%;
    margin: 10px;
    padding: 10px;
    background-color: #66D7D1;
    font-family: 'Satisfy', cursive;
    color: #EAF2E3;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cancel-button:hover {
    background-color: #FF637D;
  }
  