.registration {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../../assets/backgrounds/principal.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    font-family: 'Satisfy', cursive;
}

.registration-form {
    width: 70%;
    height: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    justify-content: center;
}

.registration-form h3 {
    font-size: 6vh;
    color: #66D7D1;
    -webkit-text-stroke: 1px black;
    margin: 0.5vh auto;;
}

.input-terms {
    margin: 1vh auto;
}

.terms{
    font-size: 1.75vh;
    color: #333;
}

.register-button {
    font-size: 2.25vh;
    width: 80%;
    margin: 10px;
    padding: 10px;
    background-color: #66D7D1;
    font-family: 'Satisfy', cursive;
    color: #EAF2E3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #FF637D;
}

.footer-register{
    font-size: 2.25vh;
    color: #333;
}

.register-link {
    text-decoration: none;
    color: #66D7D1;
    font-weight: bold;
}

.register-link:hover {
    color: #FF637D;
}