.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-image: url("../../backgrounds/main.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
  }
  
  .about-content {
    display: flex;
    justify-content: space-around;
  }
  
  .about-column {
    width: 25%;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    border: 1px solid #000;
  background: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;

  }
  
  .about-column img {
    max-width: 100%;
    height: 13vh;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .about-column h1 {
    font-size: 3vh;
    color: #333;

  }
  
  .about-column p {
    font-size: 2vh;
    color: #333;
  }

  .img-credits {
    height: 80vh;
  }