/* PopUp.css */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  border: 1px solid #000;
  background: rgba(255, 255, 255, 0.9);
  color: black;
  padding: 20px;
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  width: fit-content; 
}

.popup-content p{
  font-family: 'Satisfy', cursive;
  font-size: 6vh;
  color: orange;
  margin: 0;
  -webkit-text-stroke: 1px black;
}

.popup-content span {
  font-family: 'Satisfy', cursive;
  font-size: 4vh;
  color: #333;
  margin: 0;
  -webkit-text-stroke: 1px black;
}

.buttons-exit {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 3vh;
}

.buttons-exit button{
  font-size: 3vh;
  padding: 10px 20px;
  background-color: #FF637D;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  font-family: 'Satisfy', cursive;
}

.buttons-exit button:hover {
  background-color: #66D7D1;
  scale: 1.1;
}

.popup-content img{
  height: 60vh;
  width: fit-content;
}

.close {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size:4vh;
  color: #333;
  padding: 5px;
  outline: none;
  transition: color 0.3s ease;

  &:hover {
    color: #f00;
  }
}

.popup-img-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.popup-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  gap: 1vh;
}

.popup-btns button{
    font-size: 3vh;
    padding: 10px 20px;
    background-color: #FF637D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    font-family: 'Satisfy', cursive;
}

.popup-btns button:hover {
    background-color: #66D7D1;
    scale: 1.1;
}
