.popup-instructions {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content-instructions {
  border: 1px solid #000;
  background: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
}

.close-instructions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contenedor-titulo-instructions {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo-instructions {
  text-align: center;
  margin: 0;
  font-family: 'Satisfy', cursive;
  font-size: 6vh;
  color: orange;
  margin: 0;
  -webkit-text-stroke: 1px black;
}

.close-button-instructions {
  background: none;
  border: none;
  cursor: pointer;
  font-size:4vh;
  color: #333;
  padding: 5px;
  outline: none;
  transition: color 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &:hover {
    color: #f00;
  }
}

.close-button-instructions span{
  font-family: 'Satisfy', cursive;
  font-size: 1.5vh;
  color: black;
  margin: 0;
  -webkit-text-stroke: 1px black;
}


.subtitulo-instructions {
  font-size: 3vh;
  margin: 2vh;
}

.img-instructions {
  height: 50vh;
  margin: 2vh;
}

