.game-difficulty{
    
}

.difficulty-selector {
    font-size: 24px;
    color: #fff;
}

.recognition-game label {
    font-size: 18px;
    color: #666;
    margin-right: 10px;
}

.recognition-game select {
    font-size: 16px;
    padding: 5px;
}

.difficulty-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 5vw;
}

.difficulty-buttons button {
    font-size: 3vh;
    padding: 10px 20px;
    background-color: #66D7D1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin: auto;
}

.selected {
    background-color: #FF637D;
}

.difficulty-play{
    margin: 2vh auto;
}

.difficulty-play button {
    font-size: 5vh;
    padding: 10px 20px;
    background-color: #FF637D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.difficulty-play button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.difficulty-play button:hover {
    background-color: #0056b3;
}