.game-stats {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.stat {
  text-align: center;
}

.stat-label {
  font-weight: bold;
  color: black;
}

.stat-value {
  margin-top: 5px;
  font-size: 18px;
  color: #ff0026;
}