.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-image: url("../../backgrounds/main.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.welcome h1 {
  font-family: 'Pacifico', cursive;;
  font-size: 13vh;
  color: yellow;
  margin: 0;
  -webkit-text-stroke: 2px black;
  background: linear-gradient(to right, #ffcc00, #ff6600); /* Gradiente amarillo a naranja */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.welcome h2 {
  font-family: 'Satisfy', cursive;
  font-size: 9.5vh;
  color: orange;
  margin: 0;
  -webkit-text-stroke: 2px black;
  background: linear-gradient(to right, #ffcc00, #ff6600); /* Gradiente naranja a rojo */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.buttons-welcome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.welcome button {
  margin: auto 5vh;
  padding: 1.5vh 2.5vh;
  font-family: 'Satisfy', cursive;
  color: #EAF2E3;
  border: none;
  border-radius: 5px;
  font-size: 2.5vh;
  cursor: pointer;
  background-color: #FF637D;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome button:hover {
  transform: scale(1.1);
  background-color: #66D7D1;
}

.link-button {
  text-decoration: none;
  color: inherit;
  width: max-content;
  height: max-content;
}

.img-home {
  height: 60vh;
  margin: 1.6vh auto;
}



.app-navigation{
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: space-between;
  margin: 3vh auto;
  flex-direction: row;
}

.app-navigation h1{
  font-size: 8vh;
  color: yellow;
  -webkit-text-stroke: 2.5px black;
  margin: 0.5vh auto;
}

.app-navigation button {
  font-family: 'Satisfy', cursive;
  padding: 1.5vh;
  margin: 1vh;
  color: #EAF2E3;
  background-color: #FF637D;
  border: none;
  border-radius: 5px;
  font-size: 5vh;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.app-navigation button span {
  margin-top: 0.5vh;
  font-size: 2vh;
  font-weight: bold;
}

.app-navigation button:hover {
  transform: scale(1.1);
  background-color: #66D7D1;
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

.home-content img {
  height: 70vh;
}

.footer{
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
  justify-content: space-around; 
  width: 100%;
  height: fit-content;
  margin: 3vh auto;
}

.footer p{
  color: #fff;
}

.footer img{
  height: 10vh;
  margin: 0;
}

.footer-button {
  width: 100%;
  display: flex;
  justify-content: end;
}

.footer-button button {
  font-family: 'Satisfy', cursive;
  margin: 1vh;
  padding: 1vh 2vh;
  color: #EAF2E3;
  background-color: #FF637D;
  border: none;
  border-radius: 5px;
  font-size: 5vh;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.footer-button button span {
  margin-top: 0.5vh;
  font-size: 2vh;
  font-weight: bold;
  color: #EAF2E3;
  border: none;
  -webkit-text-stroke: 0px black;
}

.footer-button button:hover {
  background-color: #66D7D1;
  scale: 1.1;
}

.user{
  font-family: 'Satisfy', cursive;
  margin: 1vh;
  padding: 1.5vh 2vh;
  color: #EAF2E3;
  background-color: #FF637D;
  border: none;
  border-radius: 5px;
  font-size: 3.5vh;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user span {
  margin-top: 2vh;
  font-size: 2vh;
  font-weight: bold;
}

