/* Estilos para el componente Home */
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 20px;

  background-image: url("../assets/backgrounds/principal.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Estilos para los botones en Home */
.welcome button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #007acc;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.welcome button:hover {
  background-color: #005f9a;
}

.welcome img {
  width: 25%;
  height: min-content;
  object-fit: cover;
}