.game-menu {
  width: 100%;
  height: 100%;
  background-image: url("../../backgrounds/game.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.game-menu p {
  font-size: 5vh;
  color: #ccc;
  -webkit-text-stroke: 1px black;
  margin: 0;
  text-align: center;
  border: 1px solid black;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 1vh;
}

.game-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

.game-content button {
  margin: auto 5vh;
  padding: 1.5vh 2.5vh;
  font-family: 'Satisfy', cursive;
  color: #EAF2E3;
  border: none;
  border-radius: 5px;
  font-size: 2.5vh;
  cursor: pointer;
  background-color: #FF637D;
  height: fit-content;
  width: fit-content;
}

.game-content button:hover {
  background-color: #66D7D1;
  transform: scale(1.1);
}  

.game-content img {
  margin: 2vh auto;
  width: 65vh;
}

