.acc-menu {
    width: 100%;
    height: 100%;
    background-image: url("../../backgrounds/acc.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 3vh;
  }
  
  .acc-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
  }
  
  .acc-content button {
    margin: 10px;
    padding: 20px 30px;
    font-family: 'Satisfy', cursive;
    color: #EAF2E3;
    background-color: #FF637D;
    border: none;
    border-radius: 5px;
    font-size: 2.5vh;
    cursor: pointer;
  }

  .acc-content button:hover {
    background-color: #66D7D1;
    scale: 1.1;
  }

  .acc-content img {
    margin: 2vh auto;
    width: 65vh;
  }

  