.acc-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 auto;
  padding: auto;
  box-sizing: border-box;
  position: relative;
}

/*Cabecera para titulos y botons*/
.acc-head{
  display: flex;
  margin: auto;
}
.acc-head button {
  margin: 5px 0;
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

/* Div superior para pictogramas seleccionados y botones */
.selected-images-and-buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.selected-images {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: calc(fit-content + 20 px);
  overflow-x: auto;
}

.selected-images .card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 70px;
  height: 90px;
}

.selected-images .card p {
  color: #000;
}

.selected-images .card img {
  width: 50px;
  height: 50px;
  border: none;
}

.button-acc {
  display: flex;
  align-items: center;
  margin: auto 20px;
}

.button-acc button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s;
}

.button-acc button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.button-acc button:hover {
  background-color: #0056b3;
}

/* Grid para mostrar categorías y pictogramas */
.grid-acc {
  display: flex;
  background-color: #69b5db;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 20px;
  margin-top: 10px;
}

/* Columna de categorías */
.categories {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.categories button {
  margin: 5px 0;
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

/* Columna de pictogramas */
.image-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.image-grid-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 20px;
}

.image-grid .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  width: calc(fit-content + 20px);
  height: calc(fit-content + 20px);
}

.image-grid .card img {
  width: 50px;
  height: 50px;
  border: none;
}

.image-grid .card p {
  color: #000;
}