.acc-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../../public/backgrounds/acc.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  font-family: 'Satisfy', cursive;
}

.selected-images-and-buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 10px;
  margin: auto;
  width: 98%;
  height: 20%;
}

.selected-images {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  overflow-x: auto;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ccc;
  border-radius: 5px;
}

.selected-images .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  padding: 10px 2px;
  margin: 7px;
  cursor: pointer;
}

.selected-images .card p {
  margin: 5px 0 0 0;
  color: #000;
  font-size: 1.75vh;
}

.selected-images .card img {
  width: 10vh;
  height: 10vh;
  background-color: aliceblue;
}

.button-acc {
  display: flex;
  align-items: center;
  margin: auto 20px;
}

.button-acc button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #FF637D;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-acc button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.button-acc button:hover {
  background-color: #66D7D1;
}

.grid-acc {
  display: grid;
  grid-template-columns: 10% 20% 69%;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 5px;
  margin: auto;
  height: 70%;
  width: 98%;
}

.pronouns-grid {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: space-between;
  height: 95%;
  overflow-y: scroll;
  margin: auto;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.actions-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  height: 95%;
  overflow-y: scroll;
  margin: auto;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 95%;
  height: 95%;
  overflow-y: auto;
  margin: auto;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.categories button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
  background-color: #FF637D;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 15%;
  border: none;
}

.categories button:hover {
  background-color: #66D7D1;
}

.categories span {
  margin: 5px;
  color: #fff;
  font-size: 1.75vh;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  padding: 10px 2px;
  margin: 7px;
  cursor: pointer;
}

.card p {
  margin: 5px 0 0 0;
  color: #000;
  font-size: 1.75vh;
}

.pronouns-img {
  background-color: yellow;
  width: 10vh;
  height: 10vh;
  border: none;
  margin: 3px;
}

.actions-img {
  background-color: greenyellow;
  width: 10vh;
  height: 10vh;
  border: none;
  margin: 3px;
}

.default-img {
  background-color: burlywood;
  width: 10vh;
  height: 10vh;
  border: none;
  margin: 3px;
}