.app{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Satisfy', cursive;
}

.navbar {
    background-color: #FF637D;
    color: #EAF2E3;
    display: flex;
    justify-content: right;
    padding: 10px 20px;
    height: 6%;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #EAF2E3;
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.nav-links button:last-child {
    margin-right: 0;
}

.nav-links button a {
    text-decoration: none;
    color: white;
    font-family: 'Satisfy', cursive;
    font-size: 25px;
}

.nav-links svg {
    margin-right: 5px;
    margin-top: 5px;
    font-size: 25px;
}

.content {
    background-color: rgba(215, 84, 84, 0.25);
    height: 100%;
    margin: auto 0;
}

